/* Experiencia Académica*/

section.academic{
    display: flex;
    padding: 82px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;

    background: var(--azul-10);
}

.academic__title {
    color: var(--preto-100);
    text-align: center;
    font-size: 32px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.academic__courses {
    display: flex;
    align-items: flex-start;
    gap: 16px;
   
}

.academic__courses__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    /*efecto */
    position: relative;

}
/* 
.academic__courses__list {
    list-style-type: none;
    list-style-position: inside;


} */

.academic__courses__item__img {
    display: flex;
    width: 368px;
    height: 286px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: var(--preto-blanco);

    transition: box-shadow 0.3s ease;
}

.academic__courses__item__img:hover {
    box-shadow: 0 8px 16px rgba(0, 106, 255, 0.3);
}

h4, li.academic__courses__item__title {
    color: var(--preto-100);
    font-size: 22px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

}

p, li.academic__courses__item__subtitle {
    color: var(--preto-100);
    font-size: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;


}



@media (max-width: 768px) { 
    section.academic{
        display: flex;
        width: 704px;
        padding: 32px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        align-self: stretch;
    
        background: var(--azul-10);
    }
    
    .academic__title {
        color: var(--preto-100);
        text-align: center;
        font-size: 22px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .academic__courses {
        display: flex;
        width: auto;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
        align-content: space-between;
        justify-content: center;
    }
    
    .academic__courses__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        flex: 1 0 0;
    }
    
    ul.academic__courses__list {
        width: 224px;
        height: auto;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        
    }
    
    .academic__courses__item__img {
        display: flex;
        width: 192px;
        height: 86px;
        padding: 16px;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
        align-self: stretch;
    
        background: var(--preto-blanco);
    }

    img .academic__courses__item__img {
        width: 50%;
        height: 50%S;

    }
    
    h4, li.academic__courses__item__title {
        color: var(--preto-100);
        font-size: 16px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    
    }
    
    p, li.academic__courses__item__subtitle {
        color: var(--preto-100);
        font-size: 14px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
    }

}

@media (max-width: 426px) {
    section.academic {
        display: flex;
        width: auto;
        padding: 32px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        align-self: stretch;
    
        background: var(--azul-10);
    }

    div.academic__courses {
        display: flex;
        width: auto;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        align-content: space-between;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    ul.academic__courses__list {
        height: auto;
        padding: 12px;
        display: flex;
        align-items: stretch;
        gap: 8px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .academic__courses__box {
        display: flex;
        gap: 8px;
        flex: 4 0 0;
        flex-direction: column;
        align-items: flex-start;
        margin: 54px;
    }
}
